// Add your own CSS here!
// :root {
//   --light: #faf8f8;
//   --dark: #141021;
//   --secondary: #284b63;
//   --tertiary: #84a59d;
//   --visited: #afbfc9;
//   --primary: #f28482;
//   --gray: #4e4e4e;
//   --lightgray: #f0f0f0;
//   --outlinegray: #dadada;
// }

// [saved-theme="dark"] {
//   --light: #1e1e21 !important;
//   --dark: #fbfffe !important;
//   --secondary: #6b879a !important;
//   --visited: #4a575e !important;
//   --tertiary: #84a59d !important;
//   --primary: #f58382 !important;
//   --gray: #d4d4d4 !important;
//   --lightgray: #292633 !important;
//   --outlinegray: #343434 !important;
// }

:root {
  --light: #f2e9e1;
  --dark: #2f2235;
  --secondary: #426b69;
  --tertiary: #8db9b7;
  --visited: #8db9b7;
  --primary: #e46262;
  --gray: #3a333d;
  --grayer: #544d56;
  --lightgray: #e3deda;
  --outlinegray: #a8a39e;
}

::selection, mark, :root::target-text {
  background: var(--tertiary);
  background-color: var(--tertiary);
}

[saved-theme="dark"] {
  --light: #201624 !important;
  --dark: #faede1 !important;
  --secondary: #7cb29a !important;
  --visited: #567d7b !important;
  --tertiary: #325452 !important;
  --primary: #bd6868 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #4f473f !important;
  --outlinegray: #3b2842 !important;
}

img {
  width: auto;
  max-width: 100%;
}

img[src$='#floatright']
{
	float:right;
  max-width: 30%;
	height: auto;
}

h1, h2, h3, h4, ol, ul, thead {
  font-family: "JetBrains Mono";
  color: var(--dark);
  font-weight: revert;
  margin: revert;
  padding: revert;
}

p, ul, text, li, ol {
  font-family: Spectral, sans-serif;
  color: var(--gray);
  fill: var(--gray);
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: revert;
  margin: revert;
  padding: revert;
}

a {
  font-family: 'JetBrains Mono',monospace;
}

article a.internal-link {
  background-color: transparent;
}

article a {
    font-family: 'Spectral';
    font-weight: 600;
}

article a[href^="http"]::after,
article a[href^="https://"]::after
{
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("/external-link.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

article a[href^="https://dangquang.xyz/tags/thoughts/"]::after
{
  display: none !important;
}

article a[href^="https://dangquang.xyz/tags/articles/"]::after
{
  display: none !important;
}

article a[href^="https://dangquang.xyz/tags/personal/"]::after
{
  display: none !important;
}

.section h3>a {
  font-weight: 700;
  font-family: 'JetBrains Mono';
  margin: 0;
}

.section p {
  margin: 0.5em 0;
}

.mainTOC {
  background-color: transparent;
}

.mainTOC details summary {
  cursor: pointer;
  font-family: "JetBrains Mono";
  color: var(--dark);
  font-weight: 700;
}

.footnotes hr {
  background-color: (var(--lightgray));
  max-width: 400px;
  margin-left: 0;
  margin-bottom: 30px;
}

.footnotes p {
  font-size: 0.9rem;
}

.meta {
  font-size: 0.8rem;
  font-family: "JetBrains Mono";
  line-height: 20pt;
}